  <section class="content">
    <div class="container">
      <div class="row">
        
        <h1><b>Red Hat's Open Banking Vision</b></h1>
        	<p>This page will introduce the following four topics on a high level and then refer to corresponding subpages:</p>
        	
		<h2>Red Hat</h2>        
            <p>A paragraph of description. (more about <a href>Red Hat</a>)</p>        
		<h2>Open Banking Use Cases</h2>        
            <p>A paragraph of description. (more about <a href>Open Banking Use Cases</a>)</p>        
		<h2>Red Hat’s Agile Integration Concept</h2>        
            <p>A paragraph of description. (more about <a href>Agile Integration</a>)</p>        
		<h2>Open Banking Reference Implementation</h2>        
            <p>A paragraph of description. (more about <a href>Reference Implementation</a>)</p>        
                         
       
       </div>
      </div>
  </section>
