  <section class="content">
    <div class="container">
      <div class="row">
        
          <h1><b>A brief history about key banking regulations</b></h1>
        	<img src="/images/Regulations-01.png" alt="" width="80%">	
            <p></p>
          <h1><b>Banking regulations -- Turning a threat into an opportunity</b></h1>
        	<img src="/images/Regulations-02.png" alt="" width="80%">	
            <p></p>
          <h1><b>Strategic approaches to leverage banking regulations</b></h1>
          	<img src="/images/Regulations-03.png" alt="" width="80%">	
            <p></p>
          
                  
        
       </div>
      </div>
  </section>
